body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.bg {
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('./img/wcbg.png');
  text-align: center;
  color: white;

  padding: 200px 15px 200px;
}

.wc-bg{
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('./img/background.png');
}

.table-responsive-custom{
  overflow-x: auto;
  display: block;
}

.ui.secondary.pointing.menu {
  overflow-x: auto;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 2px solid rgba(34,36,38,.15);
}

.top-section{
  margin-top: 50px;
}

.black-background{
  background-color: black;
  color: white;
}

.ui.modal>.header:not(.ui){
  background-color: black;
  color: white;
}

@media (min-width: 992px){
  .navbar-toggleable-md .navbar-nav{
    margin-left: auto;
  }

  ul.navbar-nav.mr-auto{
    margin-right: 0px!important;
    margin-left: auto!important;
  }

  .navbar-toggleable-md .navbar-nav .nav-item .nav-link{
    font-size: large;
    cursor: pointer;
    transition: linear 0.1s;
  }

  .navbar-toggleable-md .navbar-nav .nav-item .nav-link:hover{
    color: black;
    margin-top: -3px;
    border-bottom: 2px solid black;
  }

  .navbar-toggleable-md .navbar-nav .nav-item .nav-link:active{
    color: white;
    background-color: black;
    margin-top: -3px;
    border-radius: 25px;

  }

}

.ui.segment{
  padding:0px!important;
}

table a {
  text-decoration: none;
  color: white;
}
.category-points{
  margin-top: 3px!important;
  margin-bottom: 2px;
  margin-left: 4px;
  font-weight: 600;
}

.text-green{
  color: green;
}

.text-red{
  color:red;
}
.ui.secondary.pointing.menu {
  background-color: white;
  border-radius: 5px;
}

.ui.secondary.pointing.menu .item {
  font-weight: 600;
  transition: linear 0.5s;
}

.ui.secondary.pointing.menu .active.item {
  border-bottom: 4px solid;
}

.toggle-help{
  display: flex;
}